.header{
    background-color: #A94065;
    
}

.yo_compu{
    text-align: center;
    color: white;    
}

.escoge{
    text-align: center;
}

.footer{
    background-color: #404765;
    
}

span{
    font-weight: bold;
}
